{
"name": "cvohademo",
"svmPassword": "Netapp234",
"vpcId": "default",
"region": ",
"tenantId": "",
"subnetPath": "projects/MYPROJECT/regions/us-east4/subnetworks/default",
"subnetId": "projects/MYPROJECT/regions/us-east4/subnetworks/default",
"dataEncryptionType": "GCP",
"serialNumber": "MY-SERIAL-NUMBER",
"vsaMetadata": {
"ontapVersion": "ONTAP-9.8X29.T1.gcpha",
"licenseType": "gcp-ha-cot-premium-byol",
"instanceType": "n1-standard-8"
},
"skipSnapshots": "false",
"gcpVolumeSize": {
"size": 1,
"unit": "TB"
},
"gcpVolumeType": "pd-ssd",
"project": "MYPROJECT",
"haParams": {
"platformSerialNumberNode1": "MY-SERIAL-NUMBER",
"platformSerialNumberNode2": "MY-SERIAL-NUMBER",
"node1Zone": "us-east4-a",
"node2Zone": "us-east4-b",
"mediatorZone": "us-east4-c",
"vpc0NodeAndDataConnectivity": "projects/MYPROJECT/global/networks/default",
"vpc1ClusterConnectivity": "projects/MYPROJECT/global/networks/MYVPC",
"vpc2HAConnectivity": "projects/MYPROJECT/global/networks/MYVPC",
"vpc3DataReplication": "projects/MYPROJECT/global/networks/MYVPC",
"subnet0NodeAndDataConnectivity": "projects/MYPROJECT/regions/us-east4/subnetworks/MYSUBNET",
"subnet1ClusterConnectivity": "projects/MYPROJECT/regions/us-east4/subnetworks/MYSUBNET",
"subnet2HAConnectivity": "projects/MYPROJECT/regions/us-east4/subnetworks/MYSUBNET",
"subnet3DataReplication": "projects/MYPROJECT/regions/us-east4/subnetworks/MYSUBNET"
}
}