{
   "dataBrokerId":"{{broker_id}}",
   "source":{
      "protocol":"nfs",
      "nfs":{
         "host":"",
         "export":""
      }
   },
   "target":{
      "protocol":"s3",
      "s3":{
         "bucket":""
      }
   }
}